/node_modules
Homestead.yaml
Homestead.json
.env
/nbproject
/public/uploads/*
!/public/uploads/events/images/originals/.empty
!/public/uploads/events/banners/originals/.empty
!/public/uploads/sliders/originals/.empty
